@charset "UTF-8";

// ----------------------------------------------
.swiper-simple {
  margin-bottom: 88px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 46px;
  }
}

// ----------------------------------------------
.swiper-pagination {
  position: static;
}

// ----------------------------------------------
.swiper-button-next,
.swiper-button-prev {
  @include transition(all $hover-transition-speed ease);
  width: 50px;
  height: 50px;
  background: #ff6536;
  border-radius: 50%;

  &:after {
    position: absolute;
    top: 0;
    right: 20px;
    bottom: 0;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-top: auto;
    margin-bottom: auto;
    border-top: 2px solid #ebffef;
    border-right: 2px solid #ebffef;
    content: "";
  }

  &:hover {
    opacity: .8;
  }
}

// ----------------------------------------------
.swiper-button-prev {
  &:after {
    right: 17px;
    transform: rotate(225deg);
  }
}

// ----------------------------------------------
.swiper-button-next {
  &:after {
    left: 17px;
    transform: rotate(45deg);
  }
}

// ----------------------------------------------
.swiper-nonstop-slide {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 88px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 46px;
  }

  .swiper-slide {
    width: auto;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }
}
